.contenedorPrincipal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  background-color: antiquewhite;
  padding: 0.5rem;
}

.dolarHoy{
  font-family: "Arial";
  grid-column: span 2;
  font-size: 0.6rem;
}

.contenedorTablaPrncipal{
  max-height: 600px; /* Ajusta la altura según tus necesidades */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}


.contenedorTablaPrincipal {
  font-family: "Arial";
  table-layout: fixed;
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}
.contenedorTablaPrincipal tr:hover {
  background: #f4f4f4;
}
.contenedorTablaPrincipal tr:hover td {
  color: #555;
}
.contenedorTablaPrincipal th,
.contenedorTablaPrincipal td {
  width: 200px;
  color: #999;
  border: 1px solid #eee;
  padding: 0.5rem 0.7rem;
  border-collapse: collapse;
  text-align: center;
  
}

.titulo {
  width: 300px;
}

.filtroRange {
  width: 80px;
}


.contenedorTablaPrincipal th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
}
/* table th.last {
  border-right: none;
} */

.tableVendedor{
  font-family: "Arial";
  margin: 0.1rem auto;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #eee;
  background-color: #fff;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.tableVendedor th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;

}


.tableVendedor2{
  font-family: "Arial";
  margin: 0.1rem auto;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #eee;
  background-color: #fff;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.tableVendedor2 th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;

}

.Vendedores_contendor{
  padding: 1rem;
  background-color: antiquewhite;
  align-items: center;
  text-align: center;
}


.BuscarProductos{
  margin: 1rem;
  padding: 1rem;
  background-color: antiquewhite;
}

.BuscarProductos_input{
  margin: 1rem;
}

.paginacion-horizontal {
  display: flex;
  list-style: none;
  padding: 0;
}

.paginacion-horizontal li {
  margin-right: 10px;
}

.filtro {
  display: flex;
  background-color: #00cccc;
margin: 0px 1px 0px 1px;
  justify-content: space-between;
  align-items: stretch;
}